.box {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.box label {
  display: inline-flex;
  flex-direction: column;
}

.input {
  border: 2px solid transparent !important;
  width: 400px;
  outline: none;
  padding: 0.5rem 1rem;
  border: none;
  font-family: "Roboto Mono", monospace;
}

.inputFailed {
  border: 2px solid var(--error) !important;
}

.btn {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  color: var(--bg);
  background: var(--text);
  cursor: pointer;
  margin-left: 1rem;
  transition: 0.2s;
  font-family: "Roboto Mono", monospace;
}

.btn:hover {
  background: var(--secondary);
  transition: 0.2s;
}

.btn:active {
  transition: 0.2s;
  transform: scale(0.95);
}

.btn:disabled {
  height: 100%;
  cursor: not-allowed;
  background: transparent;
  border: 1px solid var(--info);
}

.btn:disabled:active {
  transform: scale(1);
}

.btn div {
  margin: 0;
}

i {
  align-self: center;
  margin-right: 1rem;
  cursor: pointer;
}

i:hover {
  color: var(--secondary);
}

@media (max-width: 650px) {
  form {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
  }

  .input {
    display: inline-flex;
    width: 70%;
  }

  .btn {
    display: inline-block;
  }
}
